apiVersion: v2
appVersion: {{ settings.image.tag }} 
description: A Helm chart for Kubernetes
name: {{ app_name }}-helmchart
type: application
{# version: {{ settings.image.tag }}  #}
version: 1.0.50 